<center>
<h1>Happy Halloween !!</h1>
<p>A pumpkin Image</p>


<%= image_tag "pumpkin.jpg" %>

<p>
  "Cupcake ipsum dolor sit. Amet I love liquorice jujubes pudding croissant I love pudding. Apple pie macaroon toffee jujubes pie tart cookie applicake caramels. Halvah macaroon I love lollipop. Wypas I love pudding brownie cheesecake tart jelly-o. Bear claw cookie chocolate bar jujubes toffee."

</p>

<%= link_to "page2" do %>

  <p>  Click here </p> for see couple more pumpkins
  <% end %>



</center>
